.degree-form {
    padding-top: 20px;
}

.form-background {
    width: 80%;
    background-color: #B2DDDF;
   display: inline-block;
    padding: 20px;
  /*text-align: left;*/
    border: 1px solid black;
    margin-bottom: 10px;
}
.centered-buttons
{
    text-align: center;
}

.form-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.form-title {
    text-align: center;
}
.form-right {
    float: right;
    width: 50%;
    margin-top: 30px;
}
.form-left {
    float:left;
    width: 50%;
    padding-left: 40px;
}

.mobiletextbox input{
    width: 250px;
    text-align: center;
}
.mobiletextbox{
    width: 200px;
}
.mobiletextbox label{
    margin-left: 5px;
}
@media only screen and (max-width: 768px){
    .form-left {
    width: 80%;
    float: left;
    padding-left: 0px;
    }
    .form-right {
        width: 100%;
        float: left;
    }
}

.h3{
    font-family: 'Montserrat', sans-serif;

}