.finalbutton{
  background-color: #005C6E;
  color: black;
  width: 100px;
  height: 50px;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 25px;
  border: 2px solid black;
}

  .smallbutton{
    background-color: #31B7BC;
    color: black;
    width: 100px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;    border-radius: 25px;
    border: 2px solid #005C6E;
    outline: none !important;
  }
  .mediumbutton{
    background-color: #31B7BC;
    color: black;
    width: 125px;
    height: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;    border-radius: 25px;
    border: 2px solid #005C6E;
    outline: none !important;

  }



  .largebutton{
    background-color: #31B7BC;
    color: black;
    width: 200px;
    height: 100px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;    border-radius: 25px;
    border: 2px solid #005C6E;
    outline: none !important;

  }

  .extralargebutton{
    background-color: #31B7BC;
    color: black;
    width: 400px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;    border-radius: 25px;
    border: 2px solid #005C6E;
    outline: none !important;

  }

  .smallbutton:hover{
    background-color: white;
    color: black;
    width: 100px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;    border-radius: 25px;
    border: 2px solid #005C6E;
    outline: none !important;

  }

  .mediumbuttom:hover{
    background-color: white;
    color: black;
    width: 400px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;    border-radius: 25px;
    border: 2px solid #005C6E;
    outline: none !important;

  }

  .largebutton:hover{
    background-color: white;
    color: black;
    width: 400px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;    border-radius: 25px;
    border: 2px solid #005C6E;
    outline: none !important;

  }
  .extralargebutton:hover{
    background-color: white;
    color: black;
    width: 400px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;    border-radius: 25px;
    border: 2px solid #005C6E;
    outline: none !important;

  }
