.textbox {
    margin: 0% 20% 10px 1%;
    max-width: 150px;
}


.textbox input {
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px solid black;
    margin-left: 1.5%;
}

.textbox input:focus {
    outline: none !important;
    border: 2px solid #31b7bc;
}
@media screen and (max-width: 650px) {
    .textbox input {
        max-width: 120%!important;
    }
    .textbox  {
        margin-right: 20%!important;
    }
  }