.disclaimer{
    width:50%;
    align-content: center;
    background-color: #31B7BC;
    color: white;
    padding-left: 30px; padding-right: 30px;
    border:1px solid #005C6E;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;}


.text{
    color: white;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.text:hover{

    color: white; 
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
