.disclaimer{
    width:100%;
    align-content: center;
    background-color: #F08575;
    color: white;
    padding-left: 30px; padding-right: 30px;
    border:1px solid #005C6E;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center !important;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.text{
    color: white;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.text:hover{

    color: white; 
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
