.form-background {
    width: 100%;
    background-color: #B2DDDF;
   display: inline-block;
    padding: 20px;
  /*text-align: left;*/
    border: 1px solid black;
}

.form-container {
    text-align: center;
}

.form-title {
    text-align: center;
}
.form-right {
    float: right;
    margin-top: 30px;
    width: 50%;
}
.form-left {
    float:left;
    width: 50%;
}