.UCPLogoBlue, .MobileUCPLogoBlue{
    border-bottom: 1px solid teal;
    display: block;

}

.UCPLogoBlue{
    margin-top: 5px;
    margin-left: 5px;
    width: 25%;
}

.MobileUCPLogoBlue{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
