.select-role-container {
    background-color: #B2DDDF;
    width: fit-content !important;

}
.SelectRole .largebutton{
width: 1000px;
}
.MobileSelectRole .largebutton{
    width: 100px;
}

@media screen and (max-width: 768px) {
    .extralargebutton
    {


                width: 100%;
    }

  }