/*Applies styles to both footers*/
.ucpFooter, .MobileFooter {
    width: 100%;
    background-image: url('../../images/Footer.png');
    background-position: center center;
    background-size: cover;
    bottom: 0;
    margin: 0em;
    position: fixed;
}

/*Applies styles to desktop footer*/
.ucpFooter{
    height: 166px;
    background-repeat: no-repeat;
}

/*Applies styles to mobile footer*/
.MobileFooter{
    height: 166px;
    background-repeat: no-repeat;
    background-size: cover;
}

.CallbackFooter{
    text-align: center;
    background-color: brown;
}
