.gradeTypeHeader {
    font-weight: bold
}

.qualInputBox {
    width: 100%;
}

.subjectInputBox {

}

.gradeSelect {
    width: 100%;
}

.addQualButton {

}

.qualPoints {

}

.totalQualPoints {

}

.spacingFix {
    pointer-events: none;
}