

  .smallbutton{
    background-color: #31B7BC;
    color: black;
    width: 100px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;    border-radius: 25px;
    border: 2px solid #005C6E;
  }

  

  .mediumbutton{
    background-color: #31B7BC;
    color: black;
    width: 125px;
    height: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;    border-radius: 25px;
    border: 2px solid #005C6E;
  }


